.cWidth {
  width: 100%;
}

.cReviewCard {
  flex: none;
  overflow: auto;
  width: 30vmax;
}

/* For screens larger than 768px (tablet and up), set width to 70% */
@media (min-width: 768px) {
  .cWidth {
    width: 75%;
  }
}

/* For screens larger than 1024px (desktop and up), set width to 70% (optional) */
@media (min-width: 1024px) {
  .cWidth {
    width: 75%;
  }
}
